
ol {
    list-style-type: none;
    padding: 0;
}

p {
    margin: 4px 0;
}

ol li {
    cursor: pointer;
    background: white;
    padding: 8px 16px;
    border-bottom: 1px solid gray;
}

ol li:hover {
    opacity: 0.8;
}

ol li.expense{ 
    border-left: 10px solid red;
}

ol li.income {
    border-left: 10px solid green;
}

button.fab {
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    box-shadow: 2px 2px 2px gray;
}

button.fab.fixed {
    position: fixed;
}

button.fab.bottom{
    bottom: 32px;
}

button.fab.right{
    right: 32px;
}


 
